// ELEMENTS

//btn
.btn 
	width: 100%
	color: #fff
	font-size: 21px
	text-transform: uppercase
	text-decoration: none
	cursor: pointer
	text-align: center
	display: inline-block
	+border-radius(7px)
	+suib
	&.btn_red
		font-size: 18px
		height: 43px
		line-height: 43px
		+border-radius(2.5px)
		+gt(#F31A42 0%, #FF4F32 100%)
		&:hover
			+gt(#FF6761 0%, #FF6761 100%)
	&.btn_white
		height: 46px
		font-size: 16px
		color: $blue
		line-height: 46px
		border: 1px solid $blue
		+border-radius(6px)
		background-color: #FFF
		&:hover
			color: #fff
			background: $blue
	&.btn_green
		height: 49px
		line-height: 49px
		background-color: #6DAE10
		+gt(#229A00 0%, #2CBD00 100%)
		border: 1px solid #5D9A07
		+box-shadow(0.5px 0.9px 1px rgba(70, 115, 6, 0.34), inset 0 0 0 2px rgba(171, 230, 85, 0.27))
		&:hover
			background-color: #6DAE10
			+gt(#4AC726 0%, #72E64E 100%)
			border: 1px solid #5D9A07
			+box-shadow(0.5px 0.9px 1px rgba(70, 115, 6, 0.34), inset 0 0 0 2px rgba(171, 230, 85, 0.27))
	&.btn_green-small
		position: relative
		height: 37px
		background-color: #6DAE10
		font-size: 15px
		+border-radius(4px)
		+box-shadow(0.5px 0.9px 0 #467306)
		&:hover
			background-color: #4D8004
		&:before
			position: absolute
			content: ''
			right: 26px
			top: 50%
			margin-top: -11px
			+sr(add-ap)
	&.btn_green-arr
		position: relative
		margin-right: 19px
		height: 38px
		line-height: 38px
		font-size: 15px
		background-color: #6DAE10
		+background-image(linear-gradient(to top, #229A00 0%, #2CBD00 100%))
		border: 1px solid #5D9A07
		border-right: none
		// +box-shadow(0.5px 0.9px 1px rgba(70, 115, 6, 0.34), inset 0 0 0 2px rgba(171, 230, 85, 0.27))
		+border-radius(4px 0 0 4px)
		+box
		&:before
			position: absolute
			content: ''
			top: -1px
			right: -19px
			+sr(arr-btn-green)
		&:hover
			+background-image(linear-gradient(to top, #4AC726 0%, #72E64E 100%))
			&:before
				right: -18px
				+sr(arr-btn-green-hover)
	&.btn_orange
		height: 49px
		line-height: 49px
		background-color: #6DAE10
		+gt(#FD8F00 0%, #FFB400 100%)
		&:hover
			background-color: #6DAE10
			+gt(#DB7C00 0%, #EA8F02 100%)
	&.btn_gray
		height: 49px
		background-color: #A1A1A1
		border: 1px solid #969696
		+box-shadow(0.5px 0.9px 1px rgba(77, 77, 77, 0.34))
		&:hover
			color: #000
			background-color: #0BADFF
			+background-image(linear-gradient(to top, #F2F2F2 0%, #F7F7F7 99%, #F7F7F7 100%))
			+box-shadow(0.5px 0.9px 0 #AAAFAF)

// height + border-radius

// input
.input
	input
		padding: 0 10px
		height: 34px
		font-size: 14px
		color: #000
		width: 100%
		background-color: #FFF
		display: inline-block
		border: 1px solid #CCC
		+border-radius(4px)
		+box
		+placeholder
			color: #949494
			+suii
		&:focus
			+placeholder
				font-size: 0

// ico
.ico
	display: inline-block
	&.ico_from
		+sr(ico-from)
	&.ico_to
		+sr(ico-to)
	&.ico_people
		+sr(ico-people)
	&.ico_f
		+sr(f)
	&.ico_tw
		+sr(tw)
	&.ico_vk
		+sr(vk)
	&.ico_od
		+sr(od)
	&.ico_g
		+sr(g)
	&.ico_ap
		+sr(ico-ap)
	&.ico_owners
		+sr(ico-owners)
	&.ico_bed
		+sr(ico-bed)


// choose
.choose
	padding: 4px 0
	text-align: center
	font-size: 0
	background: #fff
	.choose__input
	.choose__plus,
	.choose__minus,
	.choose__text
		height: 25px
		vertical-align: top
		border-left: 1px solid #ccc
		display: inline-block
		+box
		&:first-child
			border: none
	.choose__text
		width: 48%
		line-height: 25px
		font-size: 18px
	.choose__input
		font-size: 18px
		width: 15px
		text-align: center
		display: inline-block
	.choose__plus,
	.choose__minus
		position: relative
		width: 26%
		color: #27ab00
		line-height: 23px
		font-size: 42px
		font-style: normal
		background: white
	&.choose_apartment
		.choose__input
			width: 60px
			+placeholder
				font-size: 18px
				color: #000

// chackbox
.checkbox
	padding-left: 8px
	height: 40px
	line-height: 40px
	font-size: 14px
	color: #000
	text-align: left
	border-top: 1px dotted #9e9e9e
	display: block
	&:first-child
		border-top: 0
	input
		margin-right: 10px






















